version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: documents_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    image: springboot-document-service:v1
    container_name: springboot-document-services
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/documents_db
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
      LOGGING_FILE_PATH: /logs/app.log
      UPLOAD_DIR: /uploads
    volumes:
      - app_logs:/logs
      - app_files:/uploads
    ports:
      - "8181:8181"
    depends_on:
      - postgres

volumes:
  postgres_data:
  app_logs:
  app_files:
